In [ ]:
pip install --upgrade nbformat

In [ ]:
import plotly.express as px
df = px.data.iris()
fig = px.scatter(df, x="sepal_width", y="sepal_length", color="species")
fig.show()

In [1]:
# Dependencies and Setup
import seaborn as sns 
import plotly.express as px
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress

In [17]:
campus_cvs = "csv_datasets/act-campus-data-class-2022.csv"
campus_df = pd.read_csv(campus_cvs)
campus_df.head()

,Group,Campus,AICode,CampName,District,DistName,County,CntyName,Region,RegnName,...,Reading,Science,Compos,Grads_Mskd,Exnees_Mskd,Part_Rate,Crit_Mskd,Above_Crit_Rate,TSI_Both_Mskd,Above_TSI_Both_Rate
0,All Students,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,20.5,25.5,23.0,<50,<25,4.3,<25,50.0,<25,50.0
1,African American,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,NaN,NaN,NaN,<25,<25,NaN,<25,NaN,<25,NaN
2,American Indian,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,NaN,NaN,NaN,<25,<25,NaN,<25,NaN,<25,NaN
3,Asian,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,NaN,NaN,NaN,<25,<25,NaN,<25,NaN,<25,NaN
4,Hispanic,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,NaN,NaN,NaN,<25,<25,NaN,<25,NaN,<25,NaN

In [16]:
total_expenditures_csv = "csv_datasets/total-operating-expenditures.csv"
total_expenditures_df = pd.read_csv(total_expenditures_csv)
total_expenditures_df. head()

,CDN,District,2005-2006,Unnamed: 3,Unnamed: 4,2006-2007,Unnamed: 6,Unnamed: 7,2007-2008,Unnamed: 9,...,Unnamed: 34,2016-2017,Unnamed: 36,Unnamed: 37,2017-2018,Unnamed: 39,Unnamed: 40,2018-2019,Unnamed: 42,Unnamed: 43
0,NaN,NaN,"Total Operating Expenditures, All Funds 1",Enrollment (membership)2,All Funds Operating Expenditures per Student,"Total Operating Expenditures, All Funds 1",Enrollment (membership)2,All Funds Operating Expenditures per Student,"Total Operating Expenditures, All Funds 1",Enrollment (membership)2,...,All Funds Operating Expenditures per Student,"Total Operating Expenditures, All Funds 1",Enrollment (membership)2,All Funds Operating Expenditures per Student,"Total Operating Expenditures, All Funds 1",Enrollment (membership)2,All Funds Operating Expenditures per Student,"Total Operating Expenditures, All Funds 1",Enrollment (membership)2,All Funds Operating Expenditures per Student
1,001902,CAYUGA ISD,"$4,419,577",582,"$7,594","$4,693,094",569,"$8,248","$7,417,070",580,...,"$14,924","$8,331,442",576,"$14,464","$8,325,066",575,"$14,478","$8,558,886",564,"$15,175"
2,001903,ELKHART ISD,"$8,655,605","1,294","$6,689","$8,955,664","1,319","$6,790","$9,559,209","1,375",...,"$8,953","$11,147,631","1,267","$8,798","$11,503,115","1,233","$9,329","$11,696,322","1,254","$9,327"
3,001904,FRANKSTON ISD,"$6,475,854",797,"$8,125","$6,584,942",789,"$8,346","$7,085,955",801,...,"$9,170","$8,218,507",846,"$9,715","$8,406,173",872,"$9,640","$8,802,724",803,"$10,962"
4,001906,NECHES ISD,"$2,641,035",329,"$8,027","$2,721,193",352,"$7,731","$2,981,438",361,...,"$10,626","$3,979,099",377,"$10,555","$4,046,814",360,"$11,241","$4,021,890",366,"$10,989"

In [21]:

act_campus_csv = "csv_datasets/act-campus-data-class-2022.csv"
act_campus_df = pd.read_csv(act_campus_csv)
act_campus_df

,Group,Campus,AICode,CampName,District,DistName,County,CntyName,Region,RegnName,...,Reading,Science,Compos,Grads_Mskd,Exnees_Mskd,Part_Rate,Crit_Mskd,Above_Crit_Rate,TSI_Both_Mskd,Above_TSI_Both_Rate
0,All Students,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,20.5,25.5,23.0,<50,<25,4.3,<25,50.0,<25,50.0
1,African American,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,NaN,NaN,NaN,<25,<25,NaN,<25,NaN,<25,NaN
2,American Indian,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,NaN,NaN,NaN,<25,<25,NaN,<25,NaN,<25,NaN
3,Asian,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,NaN,NaN,NaN,<25,<25,NaN,<25,NaN,<25,NaN
4,Hispanic,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,NaN,NaN,NaN,<25,<25,NaN,<25,NaN,<25,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88459,Not Migrant,254902001,444030,La Pryor HS,254902,La Pryor ISD,254,Zavala County,20,San Antonio,...,14.8,16.7,15.0,<50,<25,78.6,<25,NaN,<25,NaN
88460,Missing Migrant,254902001,444030,La Pryor HS,254902,La Pryor ISD,254,Zavala County,20,San Antonio,...,NaN,NaN,NaN,<25,<25,NaN,<25,NaN,<25,NaN
88461,Military-Connected,254902001,444030,La Pryor HS,254902,La Pryor ISD,254,Zavala County,20,San Antonio,...,NaN,NaN,NaN,<25,<25,NaN,<25,NaN,<25,NaN
88462,Not Military-Connected,254902001,444030,La Pryor HS,254902,La Pryor ISD,254,Zavala County,20,San Antonio,...,14.8,16.7,15.0,<50,<25,80.0,<25,NaN,<25,NaN
88463,Missing Military-Connected,254902001,444030,La Pryor HS,254902,La Pryor ISD,254,Zavala County,20,San Antonio,...,NaN,NaN,NaN,0,0,NaN,0,NaN,0,NaN

In [14]:
sat_campus_data_csv = "csv_datasets/sat-campus-data-class-2022.csv"
sat_campus_data_df = pd.read_csv(sat_campus_data_csv)
sat_campus_data_df.head()

,Group,Campus,AICode,CampName,District,DistName,County,CntyName,Region,RegnName,ERW,Math,Total,Grads_Mskd,Exnees_Mskd,Part_Rate,Crit_Mskd,Above_Crit_Rate,TSI_Both_Mskd,Above_TSI_Both_Rate
0,All Students,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,513.0,496.0,1009.0,<50,<50,63.0,<25,10.3,<25,27.6
1,African American,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,NaN,NaN,NaN,<25,<25,100.0,<25,NaN,<25,100.0
2,American Indian,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,NaN,NaN,NaN,<25,<25,NaN,<25,NaN,<25,NaN
3,Asian,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,NaN,NaN,NaN,<25,<25,NaN,<25,NaN,<25,NaN
4,Hispanic,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,535.0,480.0,1015.0,<25,<25,50.0,<25,NaN,<25,50.0

In [20]:

dropout_df = pd.read_csv("csv_datasets/dropout_rates.csv")
dropout_df.head()

C:\Users\riahk\AppData\Local\Temp\ipykernel_16424\2116307333.py:1: DtypeWarning: Columns (13,58,67,79,82,85,91,94,97) have mixed types. Specify dtype option on import or set low_memory=False.
  dropout_df = pd.read_csv("csv_datasets/dropout_rates.csv")

,CALC_FOR_STATE_ACCT,GRADESPAN,CAMPUS,CAMPNAME,DISTRICT,DISTNAME,COUNTY,CNTYNAME,REGION,REGNNAME,...,CAMP_SE5R,CAMP_SPED,CAMP_SPEN,CAMP_SPER,CAMP_TSTEMD,CAMP_TSTEMN,CAMP_TSTEMR,CAMP_TTLD,CAMP_TTLN,CAMP_TTLR
0,No,712,1902001,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,0.0,30,0,0.0,0,0,.,173,0,0.0
1,Yes,712,1902001,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,0.0,30,0,0.0,0,0,.,173,0,0.0
2,No,912,1902001,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,0.0,30,0,0.0,0,0,.,173,0,0.0
3,Yes,912,1902001,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,0.0,30,0,0.0,0,0,.,173,0,0.0
4,No,712,1902041,Cayuga Middle,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,0.0,24,0,0.0,0,0,.,116,0,0.0

In [23]:
campus_merge_df = pd.merge(sat_campus_data_df, act_campus_df, how="left", on=["Campus"])
campus_merge_df.head()

,Group_x,Campus,AICode_x,CampName_x,District_x,DistName_x,County_x,CntyName_x,Region_x,RegnName_x,...,Reading,Science,Compos,Grads_Mskd_y,Exnees_Mskd_y,Part_Rate_y,Crit_Mskd_y,Above_Crit_Rate_y,TSI_Both_Mskd_y,Above_TSI_Both_Rate_y
0,All Students,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,20.5,25.5,23.0,<50,<25,4.3,<25,50.0,<25,50.0
1,All Students,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,NaN,NaN,NaN,<25,<25,NaN,<25,NaN,<25,NaN
2,All Students,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,NaN,NaN,NaN,<25,<25,NaN,<25,NaN,<25,NaN
3,All Students,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,NaN,NaN,NaN,<25,<25,NaN,<25,NaN,<25,NaN
4,All Students,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,NaN,NaN,NaN,<25,<25,NaN,<25,NaN,<25,NaN