In [195]:
import pandas as pd
import matplotlib as plt
import numpy as np

Creating Dataframes with `pandas`
=====

In [196]:
#Finances
finance_df = pd.read_csv("resources/campus_finances.csv")
finance_df.head()

,DISTRICT NUMBER,District Name,YEAR,GEN FUNDS-LOCAL TAX REVENUE FROM M&O,ALL FUNDS-LOCAL TAX REVENUE FROM M&O,GEN FUNDS-STATE REVENUE,ALL FUNDS-STATE REVENUE,GEN FUNDS-FEDERAL REVENUE,ALL FUNDS-FEDERAL REVENUE,GEN FUNDS-OTHER LOCAL & INTERMEDIATE REVENUE,...,ALL FUNDS-TOTAL OTHER USES,GEN FUNDS-INTERGOVERN CHARGES EXPEND,ALL FUNDS-INTERGOVERN CHARGES EXPEND,GEN FUNDS-DEBT SERVICE (OBJECT 6500) FOR TD,ALL FUNDS-DEBT SERVICE (OBJECT 6500) FOR TD,GEN FUNDS-CAPITAL PROJECTS(OBJECT 6600) FOR TD,ALL FUNDS-CAPITAL PROJECTS(OBJECT 6600) FOR TD,GEN FUNDS-TOTAL DISBURSEMENTS,ALL FUNDS-TOTAL DISBURSEMENTS,FALL SURVEY ENROLLMENT
0,1902,CAYUGA ISD,2007,"$4,122,552","$4,122,552","$1,114,179","$1,176,283",$0,"$250,168","$215,239",...,"$5,829","$70,703","$70,703","$421,865","$421,865","$145,130","$156,886","$4,907,206","$5,348,377",569
1,1902,CAYUGA ISD,2008,"$3,641,351","$3,641,351","$1,845,232","$2,350,131",$0,"$1,852,221","$183,293",...,"$15,000","$75,304","$210,304",$0,$0,"$647,852","$632,398","$5,391,975","$8,274,772",580
2,1902,CAYUGA ISD,2009,"$3,319,164","$3,319,164","$1,950,169","$2,473,373",$0,"$1,714,988","$123,568",...,$0,"$166,251","$166,251",$0,$0,"$722,766","$803,313","$6,006,273","$8,819,439",594
3,1902,CAYUGA ISD,2010,"$3,222,688","$3,222,688","$2,302,369","$2,917,268",$0,"$2,851,372","$161,664",...,"$63,586","$90,462","$168,462",$0,$0,"$1,498,127","$1,582,837","$6,634,887","$10,471,817",628
4,1902,CAYUGA ISD,2011,"$3,152,618","$3,152,618","$2,439,570","$3,091,438",$0,"$2,687,377","$134,887",...,"$30,213","$96,141","$168,750",$0,$0,"$261,902","$272,638","$5,239,822","$8,883,753",606

In [197]:
finance_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19419 entries, 0 to 19418
Columns: 142 entries, DISTRICT NUMBER to FALL SURVEY ENROLLMENT
dtypes: int64(2), object(140)
memory usage: 21.0+ MB

In [198]:
#Dropout rates
dropout_df = pd.read_csv("resources/dropout_rates.csv")
dropout_df.head()

/var/folders/vf/_j2gkjzn02s0myp33_2rv0gr0000gn/T/ipykernel_1449/1436584448.py:2: DtypeWarning: Columns (13,91,94) have mixed types. Specify dtype option on import or set low_memory=False.
  dropout_df = pd.read_csv("resources/dropout_rates.csv")

,CALC_FOR_STATE_ACCT,GRADESPAN,Campus Number,Campus Name,DISTRICT,DISTNAME,COUNTY,CNTYNAME,REGION,REGNNAME,...,Section 504 Denominator,Section 504 Numerator,Section 504 Dropout Rate,Special Education Denominator,Special Education Numerator,Special Education Dropout Rate,Unnamed: 97,Unnamed: 98,Unnamed: 99,Unnamed: 100
0,No,712,1902001,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,30,0,0,30,0,0,NaN,NaN,NaN,NaN
1,Yes,712,1902001,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,30,0,0,30,0,0,NaN,NaN,NaN,NaN
2,No,912,1902001,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,30,0,0,30,0,0,NaN,NaN,NaN,NaN
3,Yes,912,1902001,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,30,0,0,30,0,0,NaN,NaN,NaN,NaN
4,No,712,1902041,Cayuga Middle,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,16,0,0,24,0,0,NaN,NaN,NaN,NaN

In [199]:
#ACT scores
act_data_df = pd.read_csv("resources/ACT_data.csv")
act_data_df

,Group,Campus Number,AI Code,Campus Name,District Number,District Name,County,County Name,Region,Region Name,ACT English,ACT Math,ACT Reading,ACT Science,ACT Compos,Unnamed: 15
0,All Students,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,21.5,24.5,20.5,25.5,23.0,NaN
1,African American,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,NaN,NaN,NaN,NaN,NaN,NaN
2,American Indian,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,NaN,NaN,NaN,NaN,NaN,NaN
3,Asian,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,NaN,NaN,NaN,NaN,NaN,NaN
4,Hispanic,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88459,Not Migrant,254902001,444030,La Pryor HS,254902,La Pryor ISD,254,Zavala County,20,San Antonio,12.5,15.6,14.8,16.7,15.0,NaN
88460,Missing Migrant,254902001,444030,La Pryor HS,254902,La Pryor ISD,254,Zavala County,20,San Antonio,NaN,NaN,NaN,NaN,NaN,NaN
88461,Military-Connected,254902001,444030,La Pryor HS,254902,La Pryor ISD,254,Zavala County,20,San Antonio,NaN,NaN,NaN,NaN,NaN,NaN
88462,Not Military-Connected,254902001,444030,La Pryor HS,254902,La Pryor ISD,254,Zavala County,20,San Antonio,12.3,15.6,14.8,16.7,15.0,NaN
88463,Missing Military-Connected,254902001,444030,La Pryor HS,254902,La Pryor ISD,254,Zavala County,20,San Antonio,NaN,NaN,NaN,NaN,NaN,NaN

In [200]:
#SAT scores
sat_data_df = pd.read_csv("resources/SAT_data.csv")
sat_data_df.head()

,Group,Campus Number,AI Code,Campus Name,District Number,District Name,County Number,County Name,Region,Region Name,ERW,SAT Math,SAT Total,Unnamed: 13,Unnamed: 14
0,All Students,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,513.0,496.0,1009.0,NaN,NaN
1,African American,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,NaN,NaN,NaN,NaN,NaN
2,American Indian,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,NaN,NaN,NaN,NaN,NaN
3,Asian,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,NaN,NaN,NaN,NaN,NaN
4,Hispanic,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,535.0,480.0,1015.0,NaN,NaN

In [201]:
#Campus descriptions (size)
descriptions_df = pd.read_csv("resources/campus_descriptions.csv")
descriptions_df.head()

,Campus Name,Campus Number,Campus Type,Campus Type Description
0,21ST CENTURY EARLY LEARNING FOUNDATIONS ACADEMY,108913118,21,21-Suburb: Large
1,2ND H S IN THE DISTRICT,152906004,41,41-Rural: Fringe
2,3D ACADEMY,108902006,21,21-Suburb: Large
3,A & M CONS H S,21901001,12,12-City: Mid-size
4,A & M CONSOLIDATED MIDDLE,21901042,12,12-City: Mid-size

In [202]:
# Expidenture
expidenture_df = pd.read_csv("resources/expidenture_data.csv")
expidenture_df.head()

,District Number,District Name,2005-2006,Unnamed: 3,Unnamed: 4,2006-2007,Unnamed: 6,Unnamed: 7,2007-2008,Unnamed: 9,...,Unnamed: 34,2016-2017,Unnamed: 36,Unnamed: 37,2017-2018,Unnamed: 39,Unnamed: 40,2018-2019,Unnamed: 42,Unnamed: 43
0,NaN,NaN,"Total Operating Expenditures, All Funds 1",Enrollment (membership)2,All Funds Operating Expenditures per Student,"Total Operating Expenditures, All Funds 1",Enrollment (membership)2,All Funds Operating Expenditures per Student,"Total Operating Expenditures, All Funds 1",Enrollment (membership)2,...,All Funds Operating Expenditures per Student,"Total Operating Expenditures, All Funds 1",Enrollment (membership)2,All Funds Operating Expenditures per Student,"Total Operating Expenditures, All Funds 1",Enrollment (membership)2,All Funds Operating Expenditures per Student,"Total Operating Expenditures, All Funds 1",Enrollment (membership)2,All Funds Operating Expenditures per Student
1,001902,CAYUGA ISD,"$4,419,577",582,"$7,594","$4,693,094",569,"$8,248","$7,417,070",580,...,"$14,924","$8,331,442",576,"$14,464","$8,325,066",575,"$14,478","$8,558,886",564,"$15,175"
2,001903,ELKHART ISD,"$8,655,605","1,294","$6,689","$8,955,664","1,319","$6,790","$9,559,209","1,375",...,"$8,953","$11,147,631","1,267","$8,798","$11,503,115","1,233","$9,329","$11,696,322","1,254","$9,327"
3,001904,FRANKSTON ISD,"$6,475,854",797,"$8,125","$6,584,942",789,"$8,346","$7,085,955",801,...,"$9,170","$8,218,507",846,"$9,715","$8,406,173",872,"$9,640","$8,802,724",803,"$10,962"
4,001906,NECHES ISD,"$2,641,035",329,"$8,027","$2,721,193",352,"$7,731","$2,981,438",361,...,"$10,626","$3,979,099",377,"$10,555","$4,046,814",360,"$11,241","$4,021,890",366,"$10,989"

SAT and ACT scores merging
====

In [203]:
    #Creating a data frame with only sat score and district name
sat_data_df

,Group,Campus Number,AI Code,Campus Name,District Number,District Name,County Number,County Name,Region,Region Name,ERW,SAT Math,SAT Total,Unnamed: 13,Unnamed: 14
0,All Students,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,513.0,496.0,1009.0,NaN,NaN
1,African American,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,NaN,NaN,NaN,NaN,NaN
2,American Indian,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,NaN,NaN,NaN,NaN,NaN
3,Asian,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,NaN,NaN,NaN,NaN,NaN
4,Hispanic,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,535.0,480.0,1015.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95014,Not Migrant,254902001,444030,La Pryor HS,254902,La Pryor ISD,254,Zavala County,20,San Antonio,442.0,423.0,865.0,NaN,NaN
95015,Missing Migrant,254902001,444030,La Pryor HS,254902,La Pryor ISD,254,Zavala County,20,San Antonio,NaN,NaN,NaN,NaN,NaN
95016,Military-Connected,254902001,444030,La Pryor HS,254902,La Pryor ISD,254,Zavala County,20,San Antonio,NaN,NaN,NaN,NaN,NaN
95017,Not Military-Connected,254902001,444030,La Pryor HS,254902,La Pryor ISD,254,Zavala County,20,San Antonio,440.0,422.0,862.0,NaN,NaN
95018,Missing Military-Connected,254902001,444030,La Pryor HS,254902,La Pryor ISD,254,Zavala County,20,San Antonio,NaN,NaN,NaN,NaN,NaN

In [204]:
sat_data_df = sat_data_df[sat_data_df["Group"] == "All Students"]
sat_data_df

,Group,Campus Number,AI Code,Campus Name,District Number,District Name,County Number,County Name,Region,Region Name,ERW,SAT Math,SAT Total,Unnamed: 13,Unnamed: 14
0,All Students,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,513.0,496.0,1009.0,NaN,NaN
57,All Students,1903001,442190,Elkhart HS,1903,Elkhart ISD,1,Anderson County,7,Kilgore,514.0,507.0,1021.0,NaN,NaN
114,All Students,1904001,442590,Frankston HS,1904,Frankston ISD,1,Anderson County,7,Kilgore,511.0,505.0,1016.0,NaN,NaN
171,All Students,1906002,445015,Neches HS,1906,Neches ISD,1,Anderson County,7,Kilgore,565.0,532.0,1097.0,NaN,NaN
228,All Students,1907001,445325,Palestine HS,1907,Palestine ISD,1,Anderson County,7,Kilgore,544.0,541.0,1085.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94734,All Students,251901001,441955,Denver City HS,251901,Denver City ISD,251,Yoakum County,17,Lubbock,494.0,476.0,970.0,NaN,NaN
94791,All Students,252901001,442910,Graham HS,252901,Graham ISD,252,Young County,9,Wichita Falls,563.0,538.0,1101.0,NaN,NaN
94848,All Students,252903001,445225,Olney HS,252903,Olney ISD,252,Young County,9,Wichita Falls,508.0,536.0,1044.0,NaN,NaN
94905,All Students,253901001,447715,Zapata HS,253901,Zapata County ISD,253,Zapata County,1,Edinburg,NaN,NaN,NaN,NaN,NaN
94962,All Students,254902001,444030,La Pryor HS,254902,La Pryor ISD,254,Zavala County,20,San Antonio,440.0,422.0,862.0,NaN,NaN

In [205]:
sat_data_df.drop(["Group", "Campus Number", "AI Code", "District Number", "County Number", "Unnamed: 13", "Unnamed: 14"], axis=1,inplace=True )
sat_data_df

/var/folders/vf/_j2gkjzn02s0myp33_2rv0gr0000gn/T/ipykernel_1449/4165562538.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sat_data_df.drop(["Group", "Campus Number", "AI Code", "District Number", "County Number", "Unnamed: 13", "Unnamed: 14"], axis=1,inplace=True )

,Campus Name,District Name,County Name,Region,Region Name,ERW,SAT Math,SAT Total
0,Cayuga HS,Cayuga ISD,Anderson County,7,Kilgore,513.0,496.0,1009.0
57,Elkhart HS,Elkhart ISD,Anderson County,7,Kilgore,514.0,507.0,1021.0
114,Frankston HS,Frankston ISD,Anderson County,7,Kilgore,511.0,505.0,1016.0
171,Neches HS,Neches ISD,Anderson County,7,Kilgore,565.0,532.0,1097.0
228,Palestine HS,Palestine ISD,Anderson County,7,Kilgore,544.0,541.0,1085.0
...,...,...,...,...,...,...,...,...
94734,Denver City HS,Denver City ISD,Yoakum County,17,Lubbock,494.0,476.0,970.0
94791,Graham HS,Graham ISD,Young County,9,Wichita Falls,563.0,538.0,1101.0
94848,Olney HS,Olney ISD,Young County,9,Wichita Falls,508.0,536.0,1044.0
94905,Zapata HS,Zapata County ISD,Zapata County,1,Edinburg,NaN,NaN,NaN
94962,La Pryor HS,La Pryor ISD,Zavala County,20,San Antonio,440.0,422.0,862.0

In [206]:
sat_data_df= sat_data_df.dropna()
sat_data_df

,Campus Name,District Name,County Name,Region,Region Name,ERW,SAT Math,SAT Total
0,Cayuga HS,Cayuga ISD,Anderson County,7,Kilgore,513.0,496.0,1009.0
57,Elkhart HS,Elkhart ISD,Anderson County,7,Kilgore,514.0,507.0,1021.0
114,Frankston HS,Frankston ISD,Anderson County,7,Kilgore,511.0,505.0,1016.0
171,Neches HS,Neches ISD,Anderson County,7,Kilgore,565.0,532.0,1097.0
228,Palestine HS,Palestine ISD,Anderson County,7,Kilgore,544.0,541.0,1085.0
...,...,...,...,...,...,...,...,...
94620,Alba-Golden HS,Alba-Golden ISD,Wood County,7,Kilgore,675.0,645.0,1320.0
94734,Denver City HS,Denver City ISD,Yoakum County,17,Lubbock,494.0,476.0,970.0
94791,Graham HS,Graham ISD,Young County,9,Wichita Falls,563.0,538.0,1101.0
94848,Olney HS,Olney ISD,Young County,9,Wichita Falls,508.0,536.0,1044.0
94962,La Pryor HS,La Pryor ISD,Zavala County,20,San Antonio,440.0,422.0,862.0

In [207]:
act_data_df

,Group,Campus Number,AI Code,Campus Name,District Number,District Name,County,County Name,Region,Region Name,ACT English,ACT Math,ACT Reading,ACT Science,ACT Compos,Unnamed: 15
0,All Students,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,21.5,24.5,20.5,25.5,23.0,NaN
1,African American,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,NaN,NaN,NaN,NaN,NaN,NaN
2,American Indian,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,NaN,NaN,NaN,NaN,NaN,NaN
3,Asian,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,NaN,NaN,NaN,NaN,NaN,NaN
4,Hispanic,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88459,Not Migrant,254902001,444030,La Pryor HS,254902,La Pryor ISD,254,Zavala County,20,San Antonio,12.5,15.6,14.8,16.7,15.0,NaN
88460,Missing Migrant,254902001,444030,La Pryor HS,254902,La Pryor ISD,254,Zavala County,20,San Antonio,NaN,NaN,NaN,NaN,NaN,NaN
88461,Military-Connected,254902001,444030,La Pryor HS,254902,La Pryor ISD,254,Zavala County,20,San Antonio,NaN,NaN,NaN,NaN,NaN,NaN
88462,Not Military-Connected,254902001,444030,La Pryor HS,254902,La Pryor ISD,254,Zavala County,20,San Antonio,12.3,15.6,14.8,16.7,15.0,NaN
88463,Missing Military-Connected,254902001,444030,La Pryor HS,254902,La Pryor ISD,254,Zavala County,20,San Antonio,NaN,NaN,NaN,NaN,NaN,NaN

In [208]:
act_data_df= act_data_df[act_data_df["Group"] == "All Students"]
act_data_df

,Group,Campus Number,AI Code,Campus Name,District Number,District Name,County,County Name,Region,Region Name,ACT English,ACT Math,ACT Reading,ACT Science,ACT Compos,Unnamed: 15
0,All Students,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,21.5,24.5,20.5,25.5,23.0,NaN
57,All Students,1903001,442190,Elkhart HS,1903,Elkhart ISD,1,Anderson County,7,Kilgore,19.0,21.5,22.5,21.5,21.0,NaN
114,All Students,1904001,442590,Frankston HS,1904,Frankston ISD,1,Anderson County,7,Kilgore,27.5,24.0,27.0,25.5,26.0,NaN
171,All Students,1907001,445325,Palestine HS,1907,Palestine ISD,1,Anderson County,7,Kilgore,20.6,21.5,22.7,22.2,22.0,NaN
228,All Students,1908002,445328,Westwood HS,1908,Westwood ISD,1,Anderson County,7,Kilgore,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88179,All Students,252902002,445065,Newcastle School,252902,Newcastle ISD,252,Young County,9,Wichita Falls,17.6,19.8,17.8,17.7,18.2,NaN
88236,All Students,252903001,445225,Olney HS,252903,Olney ISD,252,Young County,9,Wichita Falls,17.7,19.8,19.0,20.0,19.3,NaN
88293,All Students,253901001,447715,Zapata HS,253901,Zapata County ISD,253,Zapata County,1,Edinburg,15.2,16.3,18.5,17.8,17.0,NaN
88350,All Students,254901001,441650,Crystal City HS,254901,Crystal City ISD,254,Zavala County,20,San Antonio,14.1,15.1,17.4,15.3,15.7,NaN
88407,All Students,254902001,444030,La Pryor HS,254902,La Pryor ISD,254,Zavala County,20,San Antonio,12.3,15.6,14.8,16.7,15.0,NaN

In [209]:
act_data_df.drop(["Group", "Campus Number", "AI Code", "District Number", "County", "Unnamed: 15"], axis=1,inplace=True )
act_data_df

/var/folders/vf/_j2gkjzn02s0myp33_2rv0gr0000gn/T/ipykernel_1449/3407724354.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  act_data_df.drop(["Group", "Campus Number", "AI Code", "District Number", "County", "Unnamed: 15"], axis=1,inplace=True )

,Campus Name,District Name,County Name,Region,Region Name,ACT English,ACT Math,ACT Reading,ACT Science,ACT Compos
0,Cayuga HS,Cayuga ISD,Anderson County,7,Kilgore,21.5,24.5,20.5,25.5,23.0
57,Elkhart HS,Elkhart ISD,Anderson County,7,Kilgore,19.0,21.5,22.5,21.5,21.0
114,Frankston HS,Frankston ISD,Anderson County,7,Kilgore,27.5,24.0,27.0,25.5,26.0
171,Palestine HS,Palestine ISD,Anderson County,7,Kilgore,20.6,21.5,22.7,22.2,22.0
228,Westwood HS,Westwood ISD,Anderson County,7,Kilgore,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
88179,Newcastle School,Newcastle ISD,Young County,9,Wichita Falls,17.6,19.8,17.8,17.7,18.2
88236,Olney HS,Olney ISD,Young County,9,Wichita Falls,17.7,19.8,19.0,20.0,19.3
88293,Zapata HS,Zapata County ISD,Zapata County,1,Edinburg,15.2,16.3,18.5,17.8,17.0
88350,Crystal City HS,Crystal City ISD,Zavala County,20,San Antonio,14.1,15.1,17.4,15.3,15.7
88407,La Pryor HS,La Pryor ISD,Zavala County,20,San Antonio,12.3,15.6,14.8,16.7,15.0

In [210]:
act_data_df.dropna()
act_data_df

,Campus Name,District Name,County Name,Region,Region Name,ACT English,ACT Math,ACT Reading,ACT Science,ACT Compos
0,Cayuga HS,Cayuga ISD,Anderson County,7,Kilgore,21.5,24.5,20.5,25.5,23.0
57,Elkhart HS,Elkhart ISD,Anderson County,7,Kilgore,19.0,21.5,22.5,21.5,21.0
114,Frankston HS,Frankston ISD,Anderson County,7,Kilgore,27.5,24.0,27.0,25.5,26.0
171,Palestine HS,Palestine ISD,Anderson County,7,Kilgore,20.6,21.5,22.7,22.2,22.0
228,Westwood HS,Westwood ISD,Anderson County,7,Kilgore,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
88179,Newcastle School,Newcastle ISD,Young County,9,Wichita Falls,17.6,19.8,17.8,17.7,18.2
88236,Olney HS,Olney ISD,Young County,9,Wichita Falls,17.7,19.8,19.0,20.0,19.3
88293,Zapata HS,Zapata County ISD,Zapata County,1,Edinburg,15.2,16.3,18.5,17.8,17.0
88350,Crystal City HS,Crystal City ISD,Zavala County,20,San Antonio,14.1,15.1,17.4,15.3,15.7
88407,La Pryor HS,La Pryor ISD,Zavala County,20,San Antonio,12.3,15.6,14.8,16.7,15.0

In [211]:
#Merging SAT and ACT on district 
act_sat_df = pd.merge(sat_data_df, act_data_df, how="left", on=["Campus Name", "District Name", "County Name", "Region", "Region Name"])
act_sat_df

,Campus Name,District Name,County Name,Region,Region Name,ERW,SAT Math,SAT Total,ACT English,ACT Math,ACT Reading,ACT Science,ACT Compos
0,Cayuga HS,Cayuga ISD,Anderson County,7,Kilgore,513.0,496.0,1009.0,21.5,24.5,20.5,25.5,23.0
1,Elkhart HS,Elkhart ISD,Anderson County,7,Kilgore,514.0,507.0,1021.0,19.0,21.5,22.5,21.5,21.0
2,Frankston HS,Frankston ISD,Anderson County,7,Kilgore,511.0,505.0,1016.0,27.5,24.0,27.0,25.5,26.0
3,Neches HS,Neches ISD,Anderson County,7,Kilgore,565.0,532.0,1097.0,NaN,NaN,NaN,NaN,NaN
4,Palestine HS,Palestine ISD,Anderson County,7,Kilgore,544.0,541.0,1085.0,20.6,21.5,22.7,22.2,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1569,Alba-Golden HS,Alba-Golden ISD,Wood County,7,Kilgore,675.0,645.0,1320.0,19.9,20.4,21.4,21.6,20.9
1570,Denver City HS,Denver City ISD,Yoakum County,17,Lubbock,494.0,476.0,970.0,19.8,20.2,20.2,19.8,20.0
1571,Graham HS,Graham ISD,Young County,9,Wichita Falls,563.0,538.0,1101.0,18.9,20.8,21.5,21.6,20.8
1572,Olney HS,Olney ISD,Young County,9,Wichita Falls,508.0,536.0,1044.0,17.7,19.8,19.0,20.0,19.3
1573,La Pryor HS,La Pryor ISD,Zavala County,20,San Antonio,440.0,422.0,862.0,12.3,15.6,14.8,16.7,15.0

## How to select only a district

In [212]:
#In case we only need a district
cayuga_ISD = act_sat_df.loc[act_sat_df["District Name"] == "Cayuga ISD" , :]
cayuga_ISD

,Campus Name,District Name,County Name,Region,Region Name,ERW,SAT Math,SAT Total,ACT English,ACT Math,ACT Reading,ACT Science,ACT Compos
0,Cayuga HS,Cayuga ISD,Anderson County,7,Kilgore,513.0,496.0,1009.0,21.5,24.5,20.5,25.5,23.0

## How to select only a city

In [213]:
# In case we only want a city
Austin_scores = act_sat_df.loc[act_sat_df["Region Name"] == "Austin" , :]
Austin_scores

,Campus Name,District Name,County Name,Region,Region Name,ERW,SAT Math,SAT Total,ACT English,ACT Math,ACT Reading,ACT Science,ACT Compos
29,Bastrop HS,Bastrop ISD,Bastrop County,13,Austin,454.0,446.0,900.0,18.7,17.8,21.2,20.2,19.5
30,Cedar Creek HS,Bastrop ISD,Bastrop County,13,Austin,454.0,445.0,899.0,20.6,20.6,23.8,22.6,22.2
31,Colorado River Collegiate Academy,Bastrop ISD,Bastrop County,13,Austin,544.0,552.0,1095.0,NaN,NaN,NaN,NaN,NaN
32,Elgin HS,Elgin ISD,Bastrop County,13,Austin,475.0,461.0,935.0,15.2,17.2,18.4,18.5,17.4
33,Smithville HS,Smithville ISD,Bastrop County,13,Austin,515.0,496.0,1012.0,20.3,21.5,22.3,19.5,20.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1548,Vista Ridge HS,Leander ISD,Williamson County,13,Austin,561.0,557.0,1119.0,23.7,23.6,24.7,23.7,24.0
1549,Rouse HS,Leander ISD,Williamson County,13,Austin,543.0,518.0,1061.0,23.4,22.2,25.3,23.2,23.6
1550,Vandegrift HS,Leander ISD,Williamson County,13,Austin,599.0,599.0,1197.0,26.4,25.4,27.4,26.0,26.4
1551,Glenn HS,Leander ISD,Williamson County,13,Austin,497.0,480.0,977.0,20.3,20.8,22.2,21.2,21.3
1552,New Hope HS,Leander ISD,Williamson County,13,Austin,527.0,480.0,1007.0,NaN,NaN,NaN,NaN,NaN

In [214]:
#Names of all the districts
district_names_list = act_sat_df["District Name"].unique()
district_names_list

array(['Cayuga ISD', 'Elkhart ISD', 'Frankston ISD', 'Neches ISD',
       'Palestine ISD', 'Westwood ISD', 'Slocum ISD', 'Andrews ISD',
       'Pineywoods Community Academy', 'Hudson ISD', 'Lufkin ISD',
       'Huntington ISD', 'Diboll ISD', 'Zavalla ISD', 'Central ISD',
       'Aransas County ISD', 'Holliday ISD', 'Windthorst ISD',
       'Charlotte ISD', 'Jourdanton ISD', 'Lytle ISD', 'Pleasanton ISD',
       'Poteet ISD', 'Bellville ISD', 'Sealy ISD', 'Brazos ISD',
       'Muleshoe ISD', 'Medina ISD', 'Bandera ISD', 'Bastrop ISD',
       'Elgin ISD', 'Smithville ISD', 'McDade ISD', 'Seymour ISD',
       'Beeville ISD', 'Pettus ISD', 'Skidmore-Tynan ISD',
       'Priority Charter Schools', 'Orenda Charter School', 'Academy ISD',
       'Bartlett ISD', 'Belton ISD', 'Holland ISD', 'Killeen ISD',
       'Rogers ISD', 'Salado ISD', 'Temple ISD', 'Troy ISD',
       'Por Vida Academy', 'George Gervin Academy',
       'New Frontiers Public Schools Inc', 'Southwest Preparatory School',
       'Inspire Academies', 'Heritage Academy', 'Jubilee Academies',
       'School of Science and Technology',
       'Harmony Public Schools-South Texas', 'Brooks Academies of Texas',
       'Henry Ford Academy Alameda', 'Basis Texas', 'Great Hearts Texas',
       'Alamo Heights ISD', 'Harlandale ISD', 'Edgewood ISD',
       'Randolph Field ISD', 'San Antonio ISD', 'South San Antonio ISD',
       'Somerset ISD', 'North East ISD', 'East Central ISD',
       'Southwest ISD', 'Lackland ISD', 'Ft Sam Houston ISD',
       'Northside ISD', 'Judson ISD', 'Southside ISD', 'Johnson City ISD',
       'Blanco ISD', 'Borden County ISD', 'Clifton ISD', 'Meridian ISD',
       'Morgan ISD', 'Valley Mills ISD', 'Walnut Springs ISD',
       'Kopperl ISD', 'Cranfills Gap ISD', 'DeKalb ISD', 'New Boston ISD',
       'Texarkana ISD', 'Liberty-Eylau ISD', 'Pleasant Grove ISD',
       'Alvin ISD', 'Angleton ISD', 'Danbury ISD', 'Brazosport ISD',
       'Sweeny ISD', 'Columbia-Brazoria ISD', 'Pearland ISD',
       'College Station ISD', 'Bryan ISD', 'Alpine ISD', 'Marathon ISD',
       'Silverton ISD', 'Brooks County ISD', 'Bangs ISD', 'Brownwood ISD',
       'Blanket ISD', 'May ISD', 'Zephyr ISD', 'Early ISD',
       'Caldwell ISD', 'Somerville ISD', 'Snook ISD', 'Burnet CISD',
       'Marble Falls ISD', 'Lockhart ISD', 'Luling ISD',
       'Prairie Lea ISD', 'Calhoun County ISD',
       'University Of Texas Rio Grande Val', 'Brownsville ISD',
       'Harlingen CISD', 'La Feria ISD', 'Los Fresnos CISD',
       'Point Isabel ISD', 'Rio Hondo ISD', 'San Benito CISD',
       'Santa Rosa ISD', 'South Texas ISD', 'Pittsburg ISD',
       'Panhandle ISD', 'Atlanta ISD', 'Hughes Springs ISD',
       'Queen City ISD', 'Nazareth ISD', 'Anahuac ISD',
       'Barbers Hill ISD', 'East Chambers ISD', 'Alto ISD', 'Rusk ISD',
       'New Summerfield ISD', 'Wells ISD', 'Henrietta ISD',
       'Petrolia CISD', 'Bellevue ISD', 'Morton ISD', 'Bronte ISD',
       'Coleman ISD', 'Santa Anna ISD', 'Imagine International Academy',
       'Allen ISD', 'Anna ISD', 'Celina ISD', 'Farmersville ISD',
       'Frisco ISD', 'McKinney ISD', 'Melissa ISD', 'Plano ISD',
       'Princeton ISD', 'Prosper ISD', 'Wylie ISD', 'Blue Ridge ISD',
       'Community ISD', 'Lovejoy ISD', 'Wellington ISD', 'Columbus ISD',
       'Weimar ISD', 'New Braunfels ISD', 'Comal ISD', 'Comanche ISD',
       'De Leon ISD', 'Gustine ISD', 'Sidney ISD', 'Paint Rock ISD',
       'Gainesville ISD', 'Muenster ISD', 'Valley View ISD',
       'Callisburg ISD', 'Lindsay ISD', 'Gatesville ISD', 'Oglesby ISD',
       'Copperas Cove ISD', 'Crane ISD',
       'Crockett County Consolidated CSD', 'Ralls ISD',
       'Culberson County-Allamoore ISD', 'Pegasus School of Liberal Arts',
       'Uplift Education', 'Texans Can Academies', 'Advantage Academy',
       'Life School', 'Universal Academy',
       'Winfree Academy Charter Schools', 'A+ Academy',
       'Inspired Vision Academy', 'Evolution Academy Charter School',
       'Richland Collegiate HS', 'Manara Academy',
       'UME Preparatory Academy', 'Legacy Preparatory',
       'Village Tech Schools', 'International Leadership of Texas',
       'Pioneer Technology and Arts', 'Carrollton-Farmers Branch ISD',
       'Cedar Hill ISD', 'Dallas ISD', 'Desoto ISD', 'Duncanville ISD',
       'Garland ISD', 'Grand Prairie ISD', 'Highland Park ISD',
       'Irving ISD', 'Lancaster ISD', 'Mesquite ISD', 'Richardson ISD',
       'Sunnyvale ISD', 'Coppell ISD', 'Dawson ISD', 'Klondike ISD',
       'Hereford ISD', 'Fannindel ISD', 'University Of North Texas',
       'Leadership Prep School', 'Denton ISD', 'Lewisville ISD',
       'Pilot Point ISD', 'Krum ISD', 'Ponder ISD', 'Aubrey ISD',
       'Sanger ISD', 'Argyle ISD', 'Northwest ISD', 'Lake Dallas ISD',
       'Little Elm ISD', 'Cuero ISD', 'Nordheim ISD', 'Yoakum ISD',
       'Yorktown ISD', 'Carrizo Springs CISD', 'San Diego ISD',
       'Freer ISD', 'Cisco ISD', 'Eastland ISD', 'Gorman ISD',
       'Compass Academy Charter School', 'UTPB STEM Academy',
       'Ector County ISD', 'Rocksprings ISD',
       'Waxahachie Faith Family Academy', 'Avalon ISD', 'Ennis ISD',
       'Ferris ISD', 'Italy ISD', 'Midlothian ISD', 'Milford ISD',
       'Palmer ISD', 'Red Oak ISD', 'Waxahachie ISD', 'Maypearl ISD',
       'Burnham Wood Charter School', 'Triumph Public HS-El Paso',
       'Harmony Public Schools-West Texas', 'Clint ISD', 'El Paso ISD',
       'Fabens ISD', 'San Elizario ISD', 'Ysleta ISD', 'Anthony ISD',
       'Canutillo ISD', 'Tornillo ISD', 'Socorro ISD', 'Premier HS',
       'Three Way ISD', 'Dublin ISD', 'Stephenville ISD',
       'Bluff Dale ISD', 'Huckabay ISD', 'Lingleville ISD', 'Chilton ISD',
       'Marlin ISD', 'Rosebud-Lott ISD', 'Bonham ISD', 'Dodd City ISD',
       'Ector ISD', 'Honey Grove ISD', 'Leonard ISD', 'Savoy ISD',
       'Trenton ISD', 'Flatonia ISD', 'La Grange ISD', 'Schulenburg ISD',
       'Fayetteville ISD', 'Round Top-Carmine ISD', 'Roby CISD',
       'Floydada Collegiate ISD', 'Lockney ISD', 'Lamar CISD',
       'Needville ISD', 'Fort Bend ISD', 'Stafford MSD',
       'Mount Vernon ISD', 'Fairfield ISD', 'Teague ISD', 'Wortham ISD',
       'Dilley ISD', 'Pearsall ISD', 'Seagraves ISD', 'Seminole ISD',
       'Odyssey Academy Inc', 'Dickinson ISD', 'Galveston ISD',
       'High Island ISD', 'Texas City ISD', 'Hitchcock ISD',
       'Santa Fe ISD', 'Clear Creek ISD', 'Friendswood ISD',
       'Southland ISD', 'Fredericksburg ISD', 'Harper ISD',
       'Glasscock County ISD', 'Goliad ISD', 'Gonzales ISD',
       'Nixon-Smiley CISD', 'Waelder ISD', 'Pampa ISD', 'Bells ISD',
       'Denison ISD', 'Howe ISD', 'Sherman ISD', 'Tioga ISD',
       'Van Alstyne ISD', 'Whitesboro ISD', 'Whitewright ISD',
       'Pottsboro ISD', 'S and S CISD', 'Gunter ISD', 'Tom Bean ISD',
       'East Texas Charter Schools', 'Gladewater ISD', 'Kilgore ISD',
       'Longview ISD', 'Pine Tree ISD', 'Sabine ISD', 'Spring Hill ISD',
       'White Oak ISD', 'Anderson-Shiro CISD', 'Iola ISD', 'Navasota ISD',
       'Richards ISD', 'Seguin ISD', 'Schertz-Cibolo-U City ISD',
       'Navarro ISD', 'Marion ISD', 'Abernathy ISD', 'Hale Center ISD',
       'Hamilton ISD', 'Hico ISD', 'Gruver ISD', 'Chillicothe ISD',
       'Quanah ISD', 'Kountze ISD', 'Silsbee ISD', 'Hardin-Jefferson ISD',
       'Lumberton ISD', 'West Hardin County CISD',
       'Aristoi Classical Academy', 'Raul Yzaguirre Schools for Success',
       'Houston Heights HS', 'Houston Gateway Academy Inc',
       'Calvin Nelms Charter Schools', 'Southwest School',
       'YES Prep Public Schools Inc', 'Harmony Public Schools-Houston',
       'The Pro-Vision Academy', 'Beta Academy',
       'Legacy School of Sport Sciences', 'Aldine ISD', 'Alief ISD',
       'Channelview ISD', 'Crosby ISD', 'Cypress-Fairbanks ISD',
       'Deer Park ISD', 'Galena Park ISD', 'Goose Creek CISD',
       'Houston ISD', 'Humble ISD', 'Katy ISD', 'Klein ISD',
       'La Porte ISD', 'Pasadena ISD', 'Spring ISD', 'Spring Branch ISD',
       'Tomball ISD', 'Sheldon ISD', 'Huffman ISD', 'Marshall ISD',
       'Hallsville ISD', 'Haskell CISD', 'Katherine Anne Porter School',
       'San Marcos CISD', 'Dripping Springs ISD', 'Wimberley ISD',
       'Hays CISD', 'Athens ISD', 'Brownsboro ISD', 'Cross Roads ISD',
       'Eustace ISD', 'Malakoff ISD', 'Trinidad ISD', 'LaPoyner ISD',
       'Triumph Public HS-Rio Grande', 'IDEA Public Schools',
       'Vanguard Academy', 'Donna ISD', 'Edcouch-Elsa ISD',
       'Edinburg CISD', 'Hidalgo ISD', 'McAllen ISD', 'Mercedes ISD',
       'Mission CISD', 'Pharr-San Juan-Alamo ISD', 'Sharyland ISD',
       'La Joya ISD', 'Weslaco ISD', 'Monte Alto ISD', 'Abbott ISD',
       'Covington ISD', 'Hillsboro ISD', 'Hubbard ISD', 'Itasca ISD',
       'Mount Calm ISD', 'Whitney ISD', 'Aquilla ISD', 'Blum ISD',
       'Penelope ISD', 'Levelland ISD', 'Ropes ISD', 'Smyer ISD',
       'Sundown ISD', 'Whitharral ISD', 'Granbury ISD', 'Tolar ISD',
       'Sulphur Springs ISD', 'Cumby ISD', 'North Hopkins ISD',
       'Sulphur Bluff ISD', 'Crockett ISD', 'Grapeland ISD',
       'Lovelady ISD', 'Latexo ISD', 'Kennard ISD', 'Big Spring ISD',
       'Coahoma ISD', 'Forsan ISD', 'Ft Hancock ISD', 'Caddo Mills ISD',
       'Celeste ISD', 'Commerce ISD', 'Greenville ISD', 'Lone Oak ISD',
       'Quinlan ISD', 'Wolfe City ISD', 'Bland ISD', 'Borger ISD',
       'Plemons-Stinnett-Phillips CISD', 'Irion County ISD', 'Bryson ISD',
       'Jacksboro ISD', 'Perrin-Whitt CISD', 'Edna ISD', 'Ganado ISD',
       'Industrial ISD', 'Brookeland ISD', 'Buna ISD', 'Jasper ISD',
       'Kirbyville CISD', 'Evadale ISD', 'Ft Davis ISD',
       'Texas Academy Of Leadership In The',
       'Tekoa Academy of Accelerated', 'Bob Hope School', 'Nederland ISD',
       'Port Arthur ISD', 'Port Neches-Groves ISD', 'Beaumont ISD',
       'Sabine Pass ISD', 'Hamshire-Fannett ISD', 'Jim Hogg County ISD',
       'Alice ISD', 'Ben Bolt-Palito Blanco ISD', 'Orange Grove ISD',
       'Premont ISD', 'Kauffman Leadership Academy', 'Alvarado ISD',
       'Burleson ISD', 'Cleburne ISD', 'Grandview ISD', 'Joshua ISD',
       'Keene ISD', 'Rio Vista ISD', 'Venus ISD', 'Godley ISD',
       'Anson ISD', 'Hamlin Collegiate ISD', 'Stamford ISD',
       'Karnes City ISD', 'Runge ISD', 'Falls City ISD', 'Crandall ISD',
       'Forney ISD', 'Kaufman ISD', 'Kemp ISD', 'Mabank ISD',
       'Terrell ISD', 'Scurry-Rosser ISD', 'Boerne ISD', 'Comfort ISD',
       'Center Point ISD', 'Kerrville ISD', 'Ingram ISD', 'Junction ISD',
       'Brackett ISD', 'Kingsville ISD', 'Riviera ISD',
       'Santa Gertrudis ISD', 'Benjamin ISD', 'Chisum ISD', 'Paris ISD',
       'North Lamar ISD', 'Littlefield ISD', 'Springlake-Earth ISD',
       'Lampasas ISD', 'Lometa ISD', 'Cotulla ISD', 'Hallettsville ISD',
       'Moulton ISD', 'Shiner ISD', 'Giddings ISD', 'Lexington ISD',
       'Dime Box ISD', 'Buffalo ISD', 'Centerville ISD', 'Normangee ISD',
       'Oakwood ISD', 'Leon ISD', 'Cleveland ISD', 'Dayton ISD',
       'Hardin ISD', 'Hull-Daisetta ISD', 'Liberty ISD', 'Tarkington ISD',
       'Groesbeck ISD', 'George West ISD', 'Three Rivers ISD',
       'Llano ISD', 'Texas Tech University K-12', 'Lubbock ISD',
       'New Deal ISD', 'Slaton ISD', 'Lubbock-Cooper ISD', 'Frenship ISD',
       'Roosevelt ISD', 'Shallowater ISD', 'Idalou ISD', 'New Home ISD',
       'Madisonville CISD', 'North Zulch ISD', 'Stanton ISD', 'Grady ISD',
       'Mason ISD', 'Bay City ISD', 'Tidehaven ISD', 'Palacios ISD',
       'Van Vleck ISD', 'Eagle Pass ISD', 'Brady ISD', 'Lohn ISD',
       'Rapoport Academy Public School',
       'Harmony Public Schools-North Texas', 'Crawford ISD', 'Midway ISD',
       'La Vega ISD', 'Lorena ISD', 'Mart ISD', 'McGregor ISD',
       'Moody ISD', 'Riesel ISD', 'Waco ISD', 'West ISD', 'Axtell ISD',
       'Bruceville-Eddy ISD', 'China Spring ISD', 'Connally ISD',
       'Robinson ISD', 'Bosqueville ISD', 'McMullen County ISD',
       'Devine ISD', "D'Hanis ISD", 'Natalia ISD', 'Hondo ISD',
       'Medina Valley ISD', 'Midland ISD', 'Greenwood ISD', 'Cameron ISD',
       'Milano ISD', 'Rockdale ISD', 'Thorndale ISD', 'Buckholts ISD',
       'Goldthwaite ISD', 'Priddy ISD', 'Loraine ISD', 'Bowie ISD',
       'Nocona ISD', 'Forestburg ISD', 'Saint Jo ISD', 'Conroe ISD',
       'Montgomery ISD', 'Willis ISD', 'Magnolia ISD', 'Splendora ISD',
       'New Caney ISD', 'Dumas ISD', 'Daingerfield-Lone Star ISD',
       'Chireno ISD', 'Cushing ISD', 'Garrison ISD', 'Nacogdoches ISD',
       'Woden ISD', 'Central Heights ISD', 'Douglass ISD',
       'Blooming Grove ISD', 'Corsicana ISD', 'Frost ISD', 'Kerens ISD',
       'Mildred ISD', 'Rice ISD', 'Burkeville ISD', 'Newton ISD',
       'Deweyville ISD', 'Roscoe Collegiate ISD', 'Blackwell CISD',
       'Highland ISD', 'Bishop CISD', 'Calallen ISD',
       'Corpus Christi ISD', 'London ISD', 'Port Aransas ISD',
       'Tuloso-Midway ISD', 'Banquete ISD', 'Flour Bluff ISD',
       'West Oso ISD', 'Boys Ranch ISD', 'Vega ISD', 'Adrian ISD',
       'Bridge City ISD', 'Orangefield ISD', 'West Orange-Cove CISD',
       'Vidor ISD', 'Little Cypress-Mauriceville CISD', 'Gordon ISD',
       'Mineral Wells ISD', 'Santo ISD', 'Strawn ISD', 'Carthage ISD',
       'Crosstimbers Academy', 'Poolville ISD', 'Springtown ISD',
       'Weatherford ISD', 'Millsap ISD', 'Aledo ISD', 'Peaster ISD',
       'Brock ISD', 'Bovina ISD', 'Buena Vista ISD', 'Fort Stockton ISD',
       'Goodrich ISD', 'Leggett ISD', 'Livingston ISD', 'Onalaska ISD',
       'Amarillo ISD', 'Bushland ISD', 'Marfa ISD', 'Presidio ISD',
       'Rains ISD', 'Canyon ISD', 'Leakey ISD', 'Pecos-Barstow-Toyah ISD',
       'Balmorhea ISD', 'Austwell-Tivoli ISD', 'Woodsboro ISD',
       'Refugio ISD', 'Miami ISD', 'Bremond ISD', 'Franklin ISD',
       'Mumford ISD', 'Rockwall ISD', 'Royse City ISD', 'Winters ISD',
       'Olfen ISD', 'Henderson ISD', 'Mount Enterprise ISD',
       'Overton ISD', 'Tatum ISD', 'Carlisle ISD', 'West Sabine ISD',
       'Coldspring-Oakhurst CISD', 'Shepherd ISD', 'Aransas Pass ISD',
       'Gregory-Portland ISD', 'Ingleside ISD', 'Mathis ISD',
       'Sinton ISD', 'San Saba ISD', 'Richland Springs ISD',
       'Cherokee ISD', 'Schleicher ISD', 'Hermleigh ISD', 'Snyder ISD',
       'Ira ISD', 'Albany ISD', 'Center ISD', 'Shelbyville ISD',
       'Timpson ISD', 'Stratford ISD', 'Cumberland Academy',
       'UT Tyler University Academy', 'Arp ISD', 'Bullard ISD',
       'Lindale ISD', 'Troup ISD', 'Tyler ISD', 'Whitehouse ISD',
       'Chapel Hill ISD', 'Winona ISD', 'Brazos River Charter School',
       'Glen Rose ISD', 'Rio Grande City Grulla ISD', 'Roma ISD',
       'Breckenridge ISD', 'Kress ISD', 'Treetops School International',
       'Fort Worth Academy of Fine Arts',
       'Westlake Academy Charter School', 'Newman International Academy',
       'High Point Academy', 'Arlington ISD', 'Birdville ISD',
       'Everman ISD', 'Fort Worth ISD', 'Grapevine-Colleyville ISD',
       'Keller ISD', 'Mansfield ISD', 'Lake Worth ISD', 'Crowley ISD',
       'Kennedale ISD', 'Azle ISD', 'Hurst-Euless-Bedford ISD',
       'Castleberry ISD', 'Eagle Mt-Saginaw ISD', 'Carroll ISD',
       'White Settlement ISD', 'Texas College Preparatory', 'Abilene ISD',
       'Merkel ISD', 'Jim Ned CISD', 'Terrell County ISD',
       'Brownfield ISD', 'Meadow ISD', 'Wellman-Union CISD',
       'Throckmorton Collegiate ISD', 'Mount Pleasant ISD',
       'Texas Leadership Public Schools', 'Christoval ISD',
       'San Angelo ISD', 'Wall ISD', 'Grape Creek ISD', 'Veribest ISD',
       'University of Texas at Austin HS', 'Wayside Schools',
       'NYOS Charter School', 'Texas Empowerment Academy',
       'University of Texas University', 'Chaparral Star Academy',
       'Harmony Public Schools-Central', 'Cedars International Academy',
       'KIPP Texas Public Schools', 'Valere Public Schools', 'Austin ISD',
       'Pflugerville ISD', 'Manor ISD', 'Eanes ISD', 'Del Valle ISD',
       'Lago Vista ISD', 'Lake Travis ISD', 'Groveton ISD', 'Trinity ISD',
       'Apple Springs ISD', 'Colmesneil ISD', 'Woodville ISD',
       'Warren ISD', 'Spurger ISD', 'Chester ISD', 'Big Sandy ISD',
       'Gilmer ISD', 'New Diana ISD', 'Union Grove ISD', 'Rankin ISD',
       'Knippa ISD', 'Sabinal ISD', 'Uvalde CISD', 'Utopia ISD',
       'San Felipe-Del Rio CISD', 'Comstock ISD', 'Canton ISD',
       'Grand Saline ISD', 'Martins Mill ISD', 'Van ISD',
       'Wills Point ISD', 'Fruitvale ISD', 'Bloomington ISD',
       'Victoria ISD', 'New Waverly ISD', 'Huntsville ISD',
       'Hempstead ISD', 'Waller ISD', 'Royal ISD',
       'Monahans-Wickett-Pyote ISD', 'Brenham ISD', 'Burton ISD',
       'Texas A&M International University', 'Triumph Public HS-Laredo',
       'Laredo ISD', 'United ISD', 'Webb CISD', 'Boling ISD',
       'East Bernard ISD', 'El Campo ISD', 'Wharton ISD', 'Louise ISD',
       'Wheeler ISD', 'Burkburnett ISD', 'Electra ISD', 'Iowa Park CISD',
       'Wichita Falls ISD', 'City View ISD', 'Vernon ISD', 'Lasara ISD',
       'Meridian World School LLC', 'Florence ISD', 'Georgetown ISD',
       'Granger ISD', 'Hutto ISD', 'Jarrell ISD', 'Liberty Hill ISD',
       'Round Rock ISD', 'Taylor ISD', 'Thrall ISD', 'Leander ISD',
       'Floresville ISD', 'La Vernia ISD', 'Poth ISD', 'Stockdale ISD',
       'Kermit ISD', 'Wink-Loving ISD', 'Alvord ISD', 'Boyd ISD',
       'Bridgeport ISD', 'Chico ISD', 'Decatur ISD', 'Paradise ISD',
       'Slidell ISD', 'Hawkins ISD', 'Mineola ISD', 'Quitman ISD',
       'Alba-Golden ISD', 'Denver City ISD', 'Graham ISD', 'Olney ISD',
       'La Pryor ISD'], dtype=object)

In [215]:
austin_districts = Austin_scores["District Name"].value_counts()
austin_districts

District Name
Austin ISD                          14
Leander ISD                          7
Round Rock ISD                       7
Hays CISD                            4
Pflugerville ISD                     4
Georgetown ISD                       3
Manor ISD                            3
Harmony Public Schools-Central       3
Bastrop ISD                          3
Taylor ISD                           2
Burnet CISD                          2
Del Valle ISD                        2
Lockhart ISD                         1
Lago Vista ISD                       1
University of Texas University       1
Chaparral Star Academy               1
Cedars International Academy         1
Valere Public Schools                1
Blanco ISD                           1
Johnson City ISD                     1
Bartlett ISD                         1
Eanes ISD                            1
Lake Travis ISD                      1
Luling ISD                           1
Meridian World School LLC            1
Florence ISD                         1
McDade ISD                           1
Granger ISD                          1
Hutto ISD                            1
Jarrell ISD                          1
Liberty Hill ISD                     1
Smithville ISD                       1
Thrall ISD                           1
Texas Empowerment Academy            1
NYOS Charter School                  1
Wayside Schools                      1
University of Texas at Austin HS     1
Prairie Lea ISD                      1
Flatonia ISD                         1
La Grange ISD                        1
Schulenburg ISD                      1
Fayetteville ISD                     1
Round Top-Carmine ISD                1
Fredericksburg ISD                   1
Gonzales ISD                         1
Nixon-Smiley CISD                    1
Waelder ISD                          1
Katherine Anne Porter School         1
San Marcos CISD                      1
Dripping Springs ISD                 1
Wimberley ISD                        1
Marble Falls ISD                     1
Comfort ISD                          1
Giddings ISD                         1
Lexington ISD                        1
Elgin ISD                            1
Llano ISD                            1
Thorndale ISD                        1
Dime Box ISD                         1
Name: count, dtype: int64

# Finance

In [216]:
finance_df

,DISTRICT NUMBER,District Name,YEAR,GEN FUNDS-LOCAL TAX REVENUE FROM M&O,ALL FUNDS-LOCAL TAX REVENUE FROM M&O,GEN FUNDS-STATE REVENUE,ALL FUNDS-STATE REVENUE,GEN FUNDS-FEDERAL REVENUE,ALL FUNDS-FEDERAL REVENUE,GEN FUNDS-OTHER LOCAL & INTERMEDIATE REVENUE,...,ALL FUNDS-TOTAL OTHER USES,GEN FUNDS-INTERGOVERN CHARGES EXPEND,ALL FUNDS-INTERGOVERN CHARGES EXPEND,GEN FUNDS-DEBT SERVICE (OBJECT 6500) FOR TD,ALL FUNDS-DEBT SERVICE (OBJECT 6500) FOR TD,GEN FUNDS-CAPITAL PROJECTS(OBJECT 6600) FOR TD,ALL FUNDS-CAPITAL PROJECTS(OBJECT 6600) FOR TD,GEN FUNDS-TOTAL DISBURSEMENTS,ALL FUNDS-TOTAL DISBURSEMENTS,FALL SURVEY ENROLLMENT
0,1902,CAYUGA ISD,2007,"$4,122,552","$4,122,552","$1,114,179","$1,176,283",$0,"$250,168","$215,239",...,"$5,829","$70,703","$70,703","$421,865","$421,865","$145,130","$156,886","$4,907,206","$5,348,377",569
1,1902,CAYUGA ISD,2008,"$3,641,351","$3,641,351","$1,845,232","$2,350,131",$0,"$1,852,221","$183,293",...,"$15,000","$75,304","$210,304",$0,$0,"$647,852","$632,398","$5,391,975","$8,274,772",580
2,1902,CAYUGA ISD,2009,"$3,319,164","$3,319,164","$1,950,169","$2,473,373",$0,"$1,714,988","$123,568",...,$0,"$166,251","$166,251",$0,$0,"$722,766","$803,313","$6,006,273","$8,819,439",594
3,1902,CAYUGA ISD,2010,"$3,222,688","$3,222,688","$2,302,369","$2,917,268",$0,"$2,851,372","$161,664",...,"$63,586","$90,462","$168,462",$0,$0,"$1,498,127","$1,582,837","$6,634,887","$10,471,817",628
4,1902,CAYUGA ISD,2011,"$3,152,618","$3,152,618","$2,439,570","$3,091,438",$0,"$2,687,377","$134,887",...,"$30,213","$96,141","$168,750",$0,$0,"$261,902","$272,638","$5,239,822","$8,883,753",606
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19414,254902,LA PRYOR ISD,2018,"$1,144,796","$1,144,796","$4,287,058","$4,327,329","$393,958","$933,771","$111,578",...,$0,"$40,409","$40,409","$304,550","$476,400","$120,355","$120,355","$6,288,071","$7,051,511",468
19415,254902,LA PRYOR ISD,2019,"$1,361,156","$1,361,156","$4,887,886","$4,982,020","$459,994","$908,996","$122,164",...,$0,"$31,611","$31,611","$303,088","$471,938","$86,719","$86,719","$6,391,578","$7,128,955",503
19416,254902,LA PRYOR ISD,2020,"$1,675,978","$1,675,978","$4,762,288","$4,802,265","$400,774","$867,140","$115,587",...,$0,"$33,424","$33,424","$315,972","$486,822","$1,091,106","$1,091,106","$7,670,125","$8,367,435",505
19417,254902,LA PRYOR ISD,2021,"$2,338,850","$2,338,850","$5,648,810","$5,693,340","$467,621","$1,137,456","$130,199",...,$0,"$38,596","$38,596","$265,223","$437,923","$792,382","$792,382","$8,117,084","$8,928,565",521
19418,254902,LA PRYOR ISD,2022,"$2,673,566","$2,673,566","$4,492,919","$4,503,328","$594,968","$2,132,625","$94,327",...,$0,"$54,491","$54,491","$239,232","$413,632","$203,882","$203,882","$7,750,329","$9,465,905",484

In [217]:
finance_df= finance_df[finance_df["YEAR"] == 2022]
finance_df

,DISTRICT NUMBER,District Name,YEAR,GEN FUNDS-LOCAL TAX REVENUE FROM M&O,ALL FUNDS-LOCAL TAX REVENUE FROM M&O,GEN FUNDS-STATE REVENUE,ALL FUNDS-STATE REVENUE,GEN FUNDS-FEDERAL REVENUE,ALL FUNDS-FEDERAL REVENUE,GEN FUNDS-OTHER LOCAL & INTERMEDIATE REVENUE,...,ALL FUNDS-TOTAL OTHER USES,GEN FUNDS-INTERGOVERN CHARGES EXPEND,ALL FUNDS-INTERGOVERN CHARGES EXPEND,GEN FUNDS-DEBT SERVICE (OBJECT 6500) FOR TD,ALL FUNDS-DEBT SERVICE (OBJECT 6500) FOR TD,GEN FUNDS-CAPITAL PROJECTS(OBJECT 6600) FOR TD,ALL FUNDS-CAPITAL PROJECTS(OBJECT 6600) FOR TD,GEN FUNDS-TOTAL DISBURSEMENTS,ALL FUNDS-TOTAL DISBURSEMENTS,FALL SURVEY ENROLLMENT
15,1902,CAYUGA ISD,2022,"$3,094,212","$3,094,212","$4,197,261","$4,204,460","$91,436","$2,647,825","$221,819",...,$0,"$267,140","$794,807",$0,$0,"$312,480","$312,480","$6,736,571","$10,812,870",574
31,1903,ELKHART ISD,2022,"$3,224,720","$3,224,720","$9,529,732","$9,840,988","$164,299","$2,411,332","$173,822",...,$0,"$425,056","$425,056","$59,724","$1,005,774","$2,035,874","$2,243,547","$14,672,331","$18,404,158","1,150"
47,1904,FRANKSTON ISD,2022,"$2,870,023","$2,870,023","$6,885,445","$6,903,713",$0,"$2,734,519","$78,103",...,$0,"$348,216","$348,216","$23,698","$801,133","$302,134","$627,431","$9,524,268","$13,030,093",808
63,1906,NECHES ISD,2022,"$1,199,703","$1,199,703","$2,938,953","$2,971,286","$43,644","$901,938","$26,941",...,"$97,240","$93,143","$93,143","$19,148","$347,361","$164,196","$168,895","$4,322,342","$5,622,491",342
79,1907,PALESTINE ISD,2022,"$12,493,095","$12,493,095","$21,888,639","$22,548,859","$839,081","$10,213,015","$1,360,597",...,"$4,262,339","$325,755","$325,755","$298,127","$4,126,802","$4,034,161","$4,040,161","$43,954,489","$58,282,716","3,360"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19354,252902,NEWCASTLE ISD,2022,"$767,151","$767,151","$2,276,362","$2,283,324",$0,"$815,187","$101,840",...,$0,"$92,486","$92,486",$0,"$20,678","$351,644","$351,644","$3,263,461","$4,082,746",212
19370,252903,OLNEY ISD,2022,"$2,725,909","$2,725,909","$5,784,379","$5,827,043","$326,295","$2,636,726","$545,956",...,"$106,716","$298,471","$298,471","$143,223","$709,698","$680,717","$737,549","$9,665,604","$13,423,377",696
19386,253901,ZAPATA COUNTY ISD,2022,"$8,573,348","$8,573,348","$21,147,163","$21,392,582","$4,869,897","$14,940,509","$5,096,520",...,$0,"$524,850","$524,850","$397,631","$2,153,559","$3,174,388","$7,921,215","$36,285,510","$53,106,625","3,284"
19402,254901,CRYSTAL CITY ISD,2022,"$8,300,127","$8,300,127","$8,632,560","$8,632,578","$1,965,578","$5,632,054","$300,744",...,"$1,003,723","$321,921","$321,921",$0,"$3,689,573","$89,365","$89,365","$21,271,562","$29,665,370","1,779"
19418,254902,LA PRYOR ISD,2022,"$2,673,566","$2,673,566","$4,492,919","$4,503,328","$594,968","$2,132,625","$94,327",...,$0,"$54,491","$54,491","$239,232","$413,632","$203,882","$203,882","$7,750,329","$9,465,905",484

In [218]:
#Cleaning finance_df
district_name=finance_df.loc[:,"District Name"]
total_revenue=finance_df.loc[:,"ALL FUNDS-TOTAL OPERATING REVENUE"]
student_count=finance_df.loc[:,"FALL SURVEY ENROLLMENT"]
year=finance_df.loc[:,"YEAR"]

clean_finance_df  =pd.DataFrame ({
    "District Name": district_name,
    "Year": year,
    "Total Operating Revenue": total_revenue,
    "Student Count": student_count,
   
})
clean_finance_df

           District Name  Year Total Operating Revenue Student Count
15            CAYUGA ISD  2022             $11,722,948          574
31           ELKHART ISD  2022             $16,091,795        1,150
47         FRANKSTON ISD  2022             $12,716,801          808
63            NECHES ISD  2022              $5,149,061          342
79         PALESTINE ISD  2022             $47,502,602        3,360
...                  ...   ...                     ...           ...
19354      NEWCASTLE ISD  2022              $3,977,351          212
19370          OLNEY ISD  2022             $12,541,974          696
19386  ZAPATA COUNTY ISD  2022             $50,726,323        3,284
19402   CRYSTAL CITY ISD  2022             $22,880,866        1,779
19418       LA PRYOR ISD  2022              $9,417,563          484

[1206 rows x 4 columns]

In [227]:
#For merging all_student_scores with clean_finance we need ""District Name in the same format"

clean_finance_low = pd.DataFrame(clean_finance_df)

# Transform the "District Name" column to lowercase
clean_finance_low["District Name"] = clean_finance_low["District Name"].str.lower()

clean_finance_low

           District Name  Year Total Operating Revenue Student Count
15            cayuga isd  2022             $11,722,948          574
31           elkhart isd  2022             $16,091,795        1,150
47         frankston isd  2022             $12,716,801          808
63            neches isd  2022              $5,149,061          342
79         palestine isd  2022             $47,502,602        3,360
...                  ...   ...                     ...           ...
19354      newcastle isd  2022              $3,977,351          212
19370          olney isd  2022             $12,541,974          696
19386  zapata county isd  2022             $50,726,323        3,284
19402   crystal city isd  2022             $22,880,866        1,779
19418       la pryor isd  2022              $9,417,563          484

[1206 rows x 4 columns]

In [229]:
act_sat_low = pd.DataFrame(act_sat_df)

# Change "District Name" column to lowercase
act_sat_low["District Name"] = act_sat_low["District Name"].str.lower()

act_sat_low

,Campus Name,District Name,County Name,Region,Region Name,ERW,SAT Math,SAT Total,ACT English,ACT Math,ACT Reading,ACT Science,ACT Compos
0,Cayuga HS,cayuga isd,Anderson County,7,Kilgore,513.0,496.0,1009.0,21.5,24.5,20.5,25.5,23.0
1,Elkhart HS,elkhart isd,Anderson County,7,Kilgore,514.0,507.0,1021.0,19.0,21.5,22.5,21.5,21.0
2,Frankston HS,frankston isd,Anderson County,7,Kilgore,511.0,505.0,1016.0,27.5,24.0,27.0,25.5,26.0
3,Neches HS,neches isd,Anderson County,7,Kilgore,565.0,532.0,1097.0,NaN,NaN,NaN,NaN,NaN
4,Palestine HS,palestine isd,Anderson County,7,Kilgore,544.0,541.0,1085.0,20.6,21.5,22.7,22.2,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1569,Alba-Golden HS,alba-golden isd,Wood County,7,Kilgore,675.0,645.0,1320.0,19.9,20.4,21.4,21.6,20.9
1570,Denver City HS,denver city isd,Yoakum County,17,Lubbock,494.0,476.0,970.0,19.8,20.2,20.2,19.8,20.0
1571,Graham HS,graham isd,Young County,9,Wichita Falls,563.0,538.0,1101.0,18.9,20.8,21.5,21.6,20.8
1572,Olney HS,olney isd,Young County,9,Wichita Falls,508.0,536.0,1044.0,17.7,19.8,19.0,20.0,19.3
1573,La Pryor HS,la pryor isd,Zavala County,20,San Antonio,440.0,422.0,862.0,12.3,15.6,14.8,16.7,15.0

# Merging score and finances

In [230]:
#Merging score and finance 
score_finance_df = pd.merge(clean_finance_low, act_sat_low, how="left", on=["District Name"] )
score_finance_df

,District Name,Year,Total Operating Revenue,Student Count,Campus Name,County Name,Region,Region Name,ERW,SAT Math,SAT Total,ACT English,ACT Math,ACT Reading,ACT Science,ACT Compos
0,cayuga isd,2022,"$11,722,948",574,Cayuga HS,Anderson County,7.0,Kilgore,513.0,496.0,1009.0,21.5,24.5,20.5,25.5,23.0
1,elkhart isd,2022,"$16,091,795","1,150",Elkhart HS,Anderson County,7.0,Kilgore,514.0,507.0,1021.0,19.0,21.5,22.5,21.5,21.0
2,frankston isd,2022,"$12,716,801",808,Frankston HS,Anderson County,7.0,Kilgore,511.0,505.0,1016.0,27.5,24.0,27.0,25.5,26.0
3,neches isd,2022,"$5,149,061",342,Neches HS,Anderson County,7.0,Kilgore,565.0,532.0,1097.0,NaN,NaN,NaN,NaN,NaN
4,palestine isd,2022,"$47,502,602","3,360",Palestine HS,Anderson County,7.0,Kilgore,544.0,541.0,1085.0,20.6,21.5,22.7,22.2,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1834,newcastle isd,2022,"$3,977,351",212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1835,olney isd,2022,"$12,541,974",696,Olney HS,Young County,9.0,Wichita Falls,508.0,536.0,1044.0,17.7,19.8,19.0,20.0,19.3
1836,zapata county isd,2022,"$50,726,323","3,284",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1837,crystal city isd,2022,"$22,880,866","1,779",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1838,la pryor isd,2022,"$9,417,563",484,La Pryor HS,Zavala County,20.0,San Antonio,440.0,422.0,862.0,12.3,15.6,14.8,16.7,15.0

In [231]:
score_finance_complete = score_finance_df.dropna()
score_finance_complete.head()

,District Name,Year,Total Operating Revenue,Student Count,Campus Name,County Name,Region,Region Name,ERW,SAT Math,SAT Total,ACT English,ACT Math,ACT Reading,ACT Science,ACT Compos
0,cayuga isd,2022,"$11,722,948",574,Cayuga HS,Anderson County,7.0,Kilgore,513.0,496.0,1009.0,21.5,24.5,20.5,25.5,23.0
1,elkhart isd,2022,"$16,091,795","1,150",Elkhart HS,Anderson County,7.0,Kilgore,514.0,507.0,1021.0,19.0,21.5,22.5,21.5,21.0
2,frankston isd,2022,"$12,716,801",808,Frankston HS,Anderson County,7.0,Kilgore,511.0,505.0,1016.0,27.5,24.0,27.0,25.5,26.0
4,palestine isd,2022,"$47,502,602","3,360",Palestine HS,Anderson County,7.0,Kilgore,544.0,541.0,1085.0,20.6,21.5,22.7,22.2,22.0
6,slocum isd,2022,"$6,189,733",361,Slocum HS,Anderson County,7.0,Kilgore,562.0,545.0,1106.0,24.5,23.2,25.0,24.2,24.2

## How to select either a specific city or a random district from score_finance_complete

In [232]:
#In case we want to choose a random number of District Names

import random
# Specify the number of random District names to select
num_samples = 5
# Select a random number of District names
random_districts = score_finance_complete["District Name"].sample(n=num_samples)
print(random_districts)

1532    westlake academy charter school
767                            hico isd
1512                    chapel hill isd
1242                      van vleck isd
306                          frisco isd
Name: District Name, dtype: object

In [235]:
#Score and finance of a specific city
austin_scores_finance = score_finance_complete[score_finance_complete["Region Name"].isin(["Austin"])]
austin_scores_finance

,District Name,Year,Total Operating Revenue,Student Count,Campus Name,County Name,Region,Region Name,ERW,SAT Math,SAT Total,ACT English,ACT Math,ACT Reading,ACT Science,ACT Compos
31,bastrop isd,2022,"$135,361,217","11,947",Bastrop HS,Bastrop County,13.0,Austin,454.0,446.0,900.0,18.7,17.8,21.2,20.2,19.5
32,bastrop isd,2022,"$135,361,217","11,947",Cedar Creek HS,Bastrop County,13.0,Austin,454.0,445.0,899.0,20.6,20.6,23.8,22.6,22.2
34,elgin isd,2022,"$65,249,418","4,985",Elgin HS,Bastrop County,13.0,Austin,475.0,461.0,935.0,15.2,17.2,18.4,18.5,17.4
35,smithville isd,2022,"$22,753,440","1,780",Smithville HS,Bastrop County,13.0,Austin,515.0,496.0,1012.0,20.3,21.5,22.3,19.5,20.9
163,blanco isd,2022,"$15,021,087","1,058",Blanco HS,Blanco County,13.0,Austin,499.0,484.0,983.0,19.1,21.6,21.2,21.5,20.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1805,leander isd,2022,"$405,830,899","41,543",Cedar Park HS,Williamson County,13.0,Austin,560.0,554.0,1114.0,23.8,23.9,26.0,24.2,24.6
1806,leander isd,2022,"$405,830,899","41,543",Vista Ridge HS,Williamson County,13.0,Austin,561.0,557.0,1119.0,23.7,23.6,24.7,23.7,24.0
1807,leander isd,2022,"$405,830,899","41,543",Rouse HS,Williamson County,13.0,Austin,543.0,518.0,1061.0,23.4,22.2,25.3,23.2,23.6
1808,leander isd,2022,"$405,830,899","41,543",Vandegrift HS,Williamson County,13.0,Austin,599.0,599.0,1197.0,26.4,25.4,27.4,26.0,26.4
1809,leander isd,2022,"$405,830,899","41,543",Glenn HS,Williamson County,13.0,Austin,497.0,480.0,977.0,20.3,20.8,22.2,21.2,21.3