In [2]:
import pandas as pd
import matplotlib as plt

Creating Dataframes with `pandas`
=====

In [39]:
#Finances
finance_df = pd.read_csv("resources/campus_finances.csv")
finance_df

,DISTRICT NUMBER,District Name,YEAR,GEN FUNDS-LOCAL TAX REVENUE FROM M&O,ALL FUNDS-LOCAL TAX REVENUE FROM M&O,GEN FUNDS-STATE REVENUE,ALL FUNDS-STATE REVENUE,GEN FUNDS-FEDERAL REVENUE,ALL FUNDS-FEDERAL REVENUE,GEN FUNDS-OTHER LOCAL & INTERMEDIATE REVENUE,...,ALL FUNDS-TOTAL OTHER USES,GEN FUNDS-INTERGOVERN CHARGES EXPEND,ALL FUNDS-INTERGOVERN CHARGES EXPEND,GEN FUNDS-DEBT SERVICE (OBJECT 6500) FOR TD,ALL FUNDS-DEBT SERVICE (OBJECT 6500) FOR TD,GEN FUNDS-CAPITAL PROJECTS(OBJECT 6600) FOR TD,ALL FUNDS-CAPITAL PROJECTS(OBJECT 6600) FOR TD,GEN FUNDS-TOTAL DISBURSEMENTS,ALL FUNDS-TOTAL DISBURSEMENTS,FALL SURVEY ENROLLMENT
0,1902,CAYUGA ISD,2007,"$4,122,552","$4,122,552","$1,114,179","$1,176,283",$0,"$250,168","$215,239",...,"$5,829","$70,703","$70,703","$421,865","$421,865","$145,130","$156,886","$4,907,206","$5,348,377",569
1,1902,CAYUGA ISD,2008,"$3,641,351","$3,641,351","$1,845,232","$2,350,131",$0,"$1,852,221","$183,293",...,"$15,000","$75,304","$210,304",$0,$0,"$647,852","$632,398","$5,391,975","$8,274,772",580
2,1902,CAYUGA ISD,2009,"$3,319,164","$3,319,164","$1,950,169","$2,473,373",$0,"$1,714,988","$123,568",...,$0,"$166,251","$166,251",$0,$0,"$722,766","$803,313","$6,006,273","$8,819,439",594
3,1902,CAYUGA ISD,2010,"$3,222,688","$3,222,688","$2,302,369","$2,917,268",$0,"$2,851,372","$161,664",...,"$63,586","$90,462","$168,462",$0,$0,"$1,498,127","$1,582,837","$6,634,887","$10,471,817",628
4,1902,CAYUGA ISD,2011,"$3,152,618","$3,152,618","$2,439,570","$3,091,438",$0,"$2,687,377","$134,887",...,"$30,213","$96,141","$168,750",$0,$0,"$261,902","$272,638","$5,239,822","$8,883,753",606
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19414,254902,LA PRYOR ISD,2018,"$1,144,796","$1,144,796","$4,287,058","$4,327,329","$393,958","$933,771","$111,578",...,$0,"$40,409","$40,409","$304,550","$476,400","$120,355","$120,355","$6,288,071","$7,051,511",468
19415,254902,LA PRYOR ISD,2019,"$1,361,156","$1,361,156","$4,887,886","$4,982,020","$459,994","$908,996","$122,164",...,$0,"$31,611","$31,611","$303,088","$471,938","$86,719","$86,719","$6,391,578","$7,128,955",503
19416,254902,LA PRYOR ISD,2020,"$1,675,978","$1,675,978","$4,762,288","$4,802,265","$400,774","$867,140","$115,587",...,$0,"$33,424","$33,424","$315,972","$486,822","$1,091,106","$1,091,106","$7,670,125","$8,367,435",505
19417,254902,LA PRYOR ISD,2021,"$2,338,850","$2,338,850","$5,648,810","$5,693,340","$467,621","$1,137,456","$130,199",...,$0,"$38,596","$38,596","$265,223","$437,923","$792,382","$792,382","$8,117,084","$8,928,565",521
19418,254902,LA PRYOR ISD,2022,"$2,673,566","$2,673,566","$4,492,919","$4,503,328","$594,968","$2,132,625","$94,327",...,$0,"$54,491","$54,491","$239,232","$413,632","$203,882","$203,882","$7,750,329","$9,465,905",484

In [3]:
#Dropout rates
dropout_df = pd.read_csv("resources/dropout_rates.csv")
dropout_df.head()

C:\Users\riahk\AppData\Local\Temp\ipykernel_5064\1436584448.py:2: DtypeWarning: Columns (13,91,94) have mixed types. Specify dtype option on import or set low_memory=False.
  dropout_df = pd.read_csv("resources/dropout_rates.csv")

,CALC_FOR_STATE_ACCT,GRADESPAN,Campus Number,Campus Name,DISTRICT,DISTNAME,COUNTY,CNTYNAME,REGION,REGNNAME,...,Section 504 Denominator,Section 504 Numerator,Section 504 Dropout Rate,Special Education Denominator,Special Education Numerator,Special Education Dropout Rate,Unnamed: 97,Unnamed: 98,Unnamed: 99,Unnamed: 100
0,No,712,1902001,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,30,0,0,30,0,0,NaN,NaN,NaN,NaN
1,Yes,712,1902001,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,30,0,0,30,0,0,NaN,NaN,NaN,NaN
2,No,912,1902001,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,30,0,0,30,0,0,NaN,NaN,NaN,NaN
3,Yes,912,1902001,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,30,0,0,30,0,0,NaN,NaN,NaN,NaN
4,No,712,1902041,Cayuga Middle,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,16,0,0,24,0,0,NaN,NaN,NaN,NaN

In [4]:
#ACT scores
act_data_df = pd.read_csv("resources/ACT_data.csv")

In [5]:
#SAT scores
sat_data_df = pd.read_csv("resources/SAT_data.csv")

In [6]:
#Campus descriptions (size)
descriptions_df = pd.read_csv("resources/campus_descriptions.csv")
descriptions_df.head()

,Campus Name,Campus Number,Campus Type,Campus Type Description
0,21ST CENTURY EARLY LEARNING FOUNDATIONS ACADEMY,108913118,21,21-Suburb: Large
1,2ND H S IN THE DISTRICT,152906004,41,41-Rural: Fringe
2,3D ACADEMY,108902006,21,21-Suburb: Large
3,A & M CONS H S,21901001,12,12-City: Mid-size
4,A & M CONSOLIDATED MIDDLE,21901042,12,12-City: Mid-size

SAT and ACT scores merging
====

In [48]:
    #Creating a data frame with only sat score and district name
sat_data_df.head()

,Group,Campus Number,AI Code,Campus Name,District Number,District Name,County Number,County Name,Region,Region Name,ERW,SAT Math,SAT Total,Unnamed: 13,Unnamed: 14
0,All Students,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,513.0,496.0,1009.0,NaN,NaN
1,African American,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,NaN,NaN,NaN,NaN,NaN
2,American Indian,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,NaN,NaN,NaN,NaN,NaN
3,Asian,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,NaN,NaN,NaN,NaN,NaN
4,Hispanic,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,535.0,480.0,1015.0,NaN,NaN

In [10]:
sat_math = sat_data_df.set_index(["District Name","Group"])["SAT Math"]
sat_math_cleaned = sat_math.dropna()

In [11]:
sat_total = sat_data_df.set_index(["District Name","Group"])["SAT Total"]
sat_total_cleaned = sat_total.dropna()

In [13]:
#Create a new DataFrame 
sat_summary = pd.DataFrame({"SAT Math": sat_math_cleaned,
                                   "SAT Total": sat_total_cleaned,})

In [15]:
act_eng = act_data_df.set_index(["District Name", "Group"])["ACT English"]
act_eng_cleaned = act_eng.dropna()

In [20]:
act_math = act_data_df.set_index(["District Name", "Group"])["ACT Math"].dropna()
act_reading = act_data_df.set_index(["District Name","Group"])["ACT Reading"].dropna()
act_science = act_data_df.set_index(["District Name","Group"])["ACT Science"].dropna()
act_compos = act_data_df.set_index(["District Name","Group"])["ACT Compos"].dropna()

In [22]:
#Create a new DataFrame 
act_summary = pd.DataFrame({"ACT English": act_eng_cleaned,
                                   "ACT Math": act_math,
                                   "ACT Reading": act_reading,
                                   "ACT Science": act_science,
                                   "ACT Compos": act_compos
                                       })

In [51]:
#Merging SAT and ACT on district 
act_sat = pd.merge(act_summary, sat_summary, how="left", on=["District Name","Group"])
act_sat

                                              ACT English  ACT Math  \
District Name Group
Cayuga ISD    All Students                           21.5      24.5
              Not Economically Disadvantaged         21.5      24.5
              Not Bil/ESL                            21.5      24.5
              CTE Concentrator                       21.5      24.5
              Not Gifted                             21.5      24.5
...                                                   ...       ...
La Pryor ISD  Not Homeless                           12.3      15.6
              Not Immigrant                          12.3      15.6
              Migrant                                10.0      15.0
              Not Migrant                            12.5      15.6
              Not Military-Connected                 12.3      15.6

                                              ACT Reading  ACT Science  \
District Name Group
Cayuga ISD    All Students                           20.5         25.5
              Not Economically Disadvantaged         20.5         25.5
              Not Bil/ESL                            20.5         25.5
              CTE Concentrator                       20.5         25.5
              Not Gifted                             20.5         25.5
...                                                   ...          ...
La Pryor ISD  Not Homeless                           14.8         16.7
              Not Immigrant                          14.8         16.7
              Migrant                                15.5         16.5
              Not Migrant                            14.8         16.7
              Not Military-Connected                 14.8         16.7

                                              ACT Compos  SAT Math  SAT Total
District Name Group
Cayuga ISD    All Students                          23.0     496.0     1009.0
              Not Economically Disadvantaged        23.0     504.0     1025.0
              Not Bil/ESL                           23.0     496.0     1009.0
              CTE Concentrator                      23.0     496.0     1009.0
              Not Gifted                            23.0     494.0     1000.0
...                                                  ...       ...        ...
La Pryor ISD  Not Homeless                          15.0     422.0      862.0
              Not Immigrant                         15.0     422.0      862.0
              Migrant                               14.5     415.0      820.0
              Not Migrant                           15.0     423.0      865.0
              Not Military-Connected                15.0     422.0      862.0

[187487 rows x 7 columns]

In [22]:
#Merging finance and scores on District Name
#1. Question: what year are the act and sat scores?

In [23]:
unique_years = finance_df["YEAR"].unique()
unique_years

array([2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017,
       2018, 2019, 2020, 2021, 2022], dtype=int64)

In [46]:
finance_df

,DISTRICT NUMBER,District Name,YEAR,GEN FUNDS-LOCAL TAX REVENUE FROM M&O,ALL FUNDS-LOCAL TAX REVENUE FROM M&O,GEN FUNDS-STATE REVENUE,ALL FUNDS-STATE REVENUE,GEN FUNDS-FEDERAL REVENUE,ALL FUNDS-FEDERAL REVENUE,GEN FUNDS-OTHER LOCAL & INTERMEDIATE REVENUE,...,ALL FUNDS-TOTAL OTHER USES,GEN FUNDS-INTERGOVERN CHARGES EXPEND,ALL FUNDS-INTERGOVERN CHARGES EXPEND,GEN FUNDS-DEBT SERVICE (OBJECT 6500) FOR TD,ALL FUNDS-DEBT SERVICE (OBJECT 6500) FOR TD,GEN FUNDS-CAPITAL PROJECTS(OBJECT 6600) FOR TD,ALL FUNDS-CAPITAL PROJECTS(OBJECT 6600) FOR TD,GEN FUNDS-TOTAL DISBURSEMENTS,ALL FUNDS-TOTAL DISBURSEMENTS,FALL SURVEY ENROLLMENT
0,1902,CAYUGA ISD,2007,"$4,122,552","$4,122,552","$1,114,179","$1,176,283",$0,"$250,168","$215,239",...,"$5,829","$70,703","$70,703","$421,865","$421,865","$145,130","$156,886","$4,907,206","$5,348,377",569
1,1902,CAYUGA ISD,2008,"$3,641,351","$3,641,351","$1,845,232","$2,350,131",$0,"$1,852,221","$183,293",...,"$15,000","$75,304","$210,304",$0,$0,"$647,852","$632,398","$5,391,975","$8,274,772",580
2,1902,CAYUGA ISD,2009,"$3,319,164","$3,319,164","$1,950,169","$2,473,373",$0,"$1,714,988","$123,568",...,$0,"$166,251","$166,251",$0,$0,"$722,766","$803,313","$6,006,273","$8,819,439",594
3,1902,CAYUGA ISD,2010,"$3,222,688","$3,222,688","$2,302,369","$2,917,268",$0,"$2,851,372","$161,664",...,"$63,586","$90,462","$168,462",$0,$0,"$1,498,127","$1,582,837","$6,634,887","$10,471,817",628
4,1902,CAYUGA ISD,2011,"$3,152,618","$3,152,618","$2,439,570","$3,091,438",$0,"$2,687,377","$134,887",...,"$30,213","$96,141","$168,750",$0,$0,"$261,902","$272,638","$5,239,822","$8,883,753",606
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19414,254902,LA PRYOR ISD,2018,"$1,144,796","$1,144,796","$4,287,058","$4,327,329","$393,958","$933,771","$111,578",...,$0,"$40,409","$40,409","$304,550","$476,400","$120,355","$120,355","$6,288,071","$7,051,511",468
19415,254902,LA PRYOR ISD,2019,"$1,361,156","$1,361,156","$4,887,886","$4,982,020","$459,994","$908,996","$122,164",...,$0,"$31,611","$31,611","$303,088","$471,938","$86,719","$86,719","$6,391,578","$7,128,955",503
19416,254902,LA PRYOR ISD,2020,"$1,675,978","$1,675,978","$4,762,288","$4,802,265","$400,774","$867,140","$115,587",...,$0,"$33,424","$33,424","$315,972","$486,822","$1,091,106","$1,091,106","$7,670,125","$8,367,435",505
19417,254902,LA PRYOR ISD,2021,"$2,338,850","$2,338,850","$5,648,810","$5,693,340","$467,621","$1,137,456","$130,199",...,$0,"$38,596","$38,596","$265,223","$437,923","$792,382","$792,382","$8,117,084","$8,928,565",521
19418,254902,LA PRYOR ISD,2022,"$2,673,566","$2,673,566","$4,492,919","$4,503,328","$594,968","$2,132,625","$94,327",...,$0,"$54,491","$54,491","$239,232","$413,632","$203,882","$203,882","$7,750,329","$9,465,905",484

In [54]:

clean_finance_df=finance_df.set_index(["District Name", "FALL SURVEY ENROLLMENT", "ALL FUNDS-LOCAL TAX REVENUE FROM M&O", "ALL FUNDS-STATE REVENUE", "ALL FUNDS-FEDERAL REVENUE", "ALL FUNDS-TOTAL DISBURSEMENTS"])["YEAR"]

District Name  FALL SURVEY ENROLLMENT  ALL FUNDS-LOCAL TAX REVENUE FROM M&O  ALL FUNDS-STATE REVENUE  ALL FUNDS-FEDERAL REVENUE  ALL FUNDS-TOTAL DISBURSEMENTS
CAYUGA ISD      569                    $4,122,552                            $1,176,283               $250,168                   $5,348,377                       2007
                580                    $3,641,351                            $2,350,131               $1,852,221                 $8,274,772                       2008
                594                    $3,319,164                            $2,473,373               $1,714,988                 $8,819,439                       2009
                628                    $3,222,688                            $2,917,268               $2,851,372                 $10,471,817                      2010
                606                    $3,152,618                            $3,091,438               $2,687,377                 $8,883,753                       2011
                                                                                                                                                                  ...
LA PRYOR ISD    468                    $1,144,796                            $4,327,329               $933,771                   $7,051,511                       2018
                503                    $1,361,156                            $4,982,020               $908,996                   $7,128,955                       2019
                505                    $1,675,978                            $4,802,265               $867,140                   $8,367,435                       2020
                521                    $2,338,850                            $5,693,340               $1,137,456                 $8,928,565                       2021
                484                    $2,673,566                            $4,503,328               $2,132,625                 $9,465,905                       2022
Name: YEAR, Length: 19419, dtype: int64