In [2]:
import pandas as pd
import matplotlib as plt

In [8]:
finance_df = pd.read_csv("resources/campus_finances.csv")
finance_df.head()

,DISTRICT NUMBER,DISTRICT NAME,YEAR,GEN FUNDS-LOCAL TAX REVENUE FROM M&O,ALL FUNDS-LOCAL TAX REVENUE FROM M&O,GEN FUNDS-STATE REVENUE,ALL FUNDS-STATE REVENUE,GEN FUNDS-FEDERAL REVENUE,ALL FUNDS-FEDERAL REVENUE,GEN FUNDS-OTHER LOCAL & INTERMEDIATE REVENUE,...,ALL FUNDS-TOTAL OTHER USES,GEN FUNDS-INTERGOVERN CHARGES EXPEND,ALL FUNDS-INTERGOVERN CHARGES EXPEND,GEN FUNDS-DEBT SERVICE (OBJECT 6500) FOR TD,ALL FUNDS-DEBT SERVICE (OBJECT 6500) FOR TD,GEN FUNDS-CAPITAL PROJECTS(OBJECT 6600) FOR TD,ALL FUNDS-CAPITAL PROJECTS(OBJECT 6600) FOR TD,GEN FUNDS-TOTAL DISBURSEMENTS,ALL FUNDS-TOTAL DISBURSEMENTS,FALL SURVEY ENROLLMENT
0,1902,CAYUGA ISD,2007,"$4,122,552","$4,122,552","$1,114,179","$1,176,283",$0,"$250,168","$215,239",...,"$5,829","$70,703","$70,703","$421,865","$421,865","$145,130","$156,886","$4,907,206","$5,348,377",569
1,1902,CAYUGA ISD,2008,"$3,641,351","$3,641,351","$1,845,232","$2,350,131",$0,"$1,852,221","$183,293",...,"$15,000","$75,304","$210,304",$0,$0,"$647,852","$632,398","$5,391,975","$8,274,772",580
2,1902,CAYUGA ISD,2009,"$3,319,164","$3,319,164","$1,950,169","$2,473,373",$0,"$1,714,988","$123,568",...,$0,"$166,251","$166,251",$0,$0,"$722,766","$803,313","$6,006,273","$8,819,439",594
3,1902,CAYUGA ISD,2010,"$3,222,688","$3,222,688","$2,302,369","$2,917,268",$0,"$2,851,372","$161,664",...,"$63,586","$90,462","$168,462",$0,$0,"$1,498,127","$1,582,837","$6,634,887","$10,471,817",628
4,1902,CAYUGA ISD,2011,"$3,152,618","$3,152,618","$2,439,570","$3,091,438",$0,"$2,687,377","$134,887",...,"$30,213","$96,141","$168,750",$0,$0,"$261,902","$272,638","$5,239,822","$8,883,753",606

In [10]:
dropout_df = pd.read_csv("resources/dropout_rates.csv")
dropout_df.head()

C:\Users\James\AppData\Local\Temp\ipykernel_876\2364380613.py:1: DtypeWarning: Columns (13,58,67,79,82,85,91,94,97) have mixed types. Specify dtype option on import or set low_memory=False.
  dropout_df = pd.read_csv("resources/dropout_rates.csv")

,CALC_FOR_STATE_ACCT,GRADESPAN,CAMPUS,CAMPNAME,DISTRICT,DISTNAME,COUNTY,CNTYNAME,REGION,REGNNAME,...,CAMP_SE5R,CAMP_SPED,CAMP_SPEN,CAMP_SPER,CAMP_TSTEMD,CAMP_TSTEMN,CAMP_TSTEMR,CAMP_TTLD,CAMP_TTLN,CAMP_TTLR
0,No,712,1902001,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,0.0,30,0,0.0,0,0,.,173,0,0.0
1,Yes,712,1902001,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,0.0,30,0,0.0,0,0,.,173,0,0.0
2,No,912,1902001,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,0.0,30,0,0.0,0,0,.,173,0,0.0
3,Yes,912,1902001,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,0.0,30,0,0.0,0,0,.,173,0,0.0
4,No,712,1902041,Cayuga Middle,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,0.0,24,0,0.0,0,0,.,116,0,0.0